/
  Built by The Varoqua Group
  varoquagroup.com

!!!
%html
  %head
    %title
      PLM
    = stylesheet_link_tag "global"
  %body
    = yield

    / Javascript goes at the bottom
    -# = javascript_include_tag  "all"
    = javascript_include_tag  "jquery-1.8.2.min", "global.js"
