%section#container

  %h1#logo
    %img{:src => '/images/PLM-Logo.png'}

  %header

    %ul
      // Four Box
      %li
        \&#62977

      // Light Bulb
      %li
        \&#128161

      // Thermostat
      %li
        \&#128255

      // Key for Access
      %li
        \&#128273

      // Camera for photographs
      %li
        \&#128247

      // Eyeball for video surveillance
      %li
        \&#59146

  %div#row

    %nav
      %ul
        // Home icon
        %li
          \&#8962

        // Left/Right arrows
        %li
          \&#8646

        // File cabinet
        %li
          \&#59392

        // Calendar
        %li
          \&#128197

        // List
        %li
          \&#57349

        // Music
        %li
          \&#9835

        // Dollars
        %li
          \&#128318

        // Home
        %li
          \&#8962

        // Globe
        %li
          \&#127758

        // Jumbled box
        %li
          \&#9871

        // Sync
        %li
          \&#128260

        // Gears
        %li
          \&#9881

    -# %div#hamburger

      %div.title-bar
        %div.icon-button
          \&#9776

        %h1
          92 Locust

    %main
      -# %div.title-bar.flex-horizontal
      %div.title-bar

        %div#page-title-collection
          // Hamburger
          %div.icon-button
            \&#9776

          // Page title
          %h1
            92 Locust

        %div#main-button-collection
          // Globe
          %div.icon-button#hamburger-animate
            \&#127758

          // Person
          %div.icon-button
            \&#128100

          // Floorplan
          %div.icon-button
            \&#59175

        %div#search-gear-collection

          // Search
          %div.icon-button
            \&#128269

          // Gear
          %div.icon-button
            \&#9881

      %div#content
        -# Hello

        -# <a href="#modal" class="second">Slide to the left 3, and display hidden content from this page in a modal pane.</a>

      %div#modal
        %p
          This slide uses "modal" option set to "true". When using a modal pageslide, clicking on the main window will not close the window.

    -# %aside
      Aside

  %footer
    %div#account-collection
      %ul
        %li
          %a
            Account
        %li
          %a
            Setup
        %li
          %a
            Settings
        %li
          %a
            Logout

    %div#weather-collection
      %ul
        %li.location
          London 4:16 PM
        %li
          Clear 22&deg;
        %li
          High 38&deg;F
        %li
          Low 21&deg;F
