%section#container
  %header

    %ul
      // Four Box
      %li
        \&#62977

      // Light Bulb
      %li
        \&#128161

      // Thermostat
      %li
        \&#128255

      // Key for Access
      %li
        \&#128273

      // Camera for photographs
      %li
        \&#128247

      // Eyeball for video surveillance
      %li
        \&#59146

  %div#row

    %nav
      %ul
        // Home icon
        %li
          \&#8962

        // Left/Right arrows
        %li
          \&#8646

        // File cabinet
        %li
          \&#59392

        // Calendar
        %li
          \&#128197

        // List
        %li
          \&#57349

        // Music
        %li
          \&#9835

        // Dollars
        %li
          \&#128318

        // Home
        %li
          \&#8962

        // Globe
        %li
          \&#127758

        // Jumbled box
        %li
          \&#9871

        // Sync
        %li
          \&#128260

        // Gears
        %li
          \&#9881

    %div#hamburger
      Hamburger

    %main
      Main

    %aside
      Aside

  %footer
    footer
