%section#container

  %h1#logo
    %img{:src => '/images/PLM-Logo.png'}

  %header

    %ul
      // Four Box
      %li
        %a{:href => "/"}
          \&#62977

      // Light Bulb
      %li
        %a{:href => "/lights.html"}
          \&#128161

      // Thermostat
      %li
        %a{:href => "#"}
          \&#128255

      // Key for Access
      %li
        %a{:href => "#"}
          \&#128273

      // Camera for photographs
      %li
        %a{:href => "/photos.html"}
          \&#128247

      // Eyeball for video surveillance
      %li.selected
        %a{:href => "/videos.html", :class => "selected"}
          \&#59146

      // Database for Property Data
      %li
        %a{:href => "/property-data.html"}
          \&#128248

  %div#row

    %nav
      %ul
        // Home icon
        %li
          %a{:href => "#"}
            \&#8962

        // Left/Right arrows
        %li
          %a{:href => "#"}
            \&#8646

        // File cabinet
        %li
          %a{:href => "#"}
            \&#59392

        // Calendar
        %li
          %a{:href => "#"}
            \&#128197

        // List
        %li
          %a{:href => "#"}
            \&#57349

        // Music
        %li
          %a{:href => "#"}
            \&#9835

        // Dollars
        %li
          %a{:href => "#"}
            \&#128318

        // Home
        %li
          %a{:href => "#"}
            \&#8962

        // Globe
        %li
          %a{:href => "#"}
            \&#127758

        // Jumbled box
        %li
          %a{:href => "#"}
            \&#9871

        // Sync
        %li
          %a{:href => "#"}
            \&#128260

        // Gears
        %li
          %a{:href => "#"}
            \&#9881

    %main
      %div.title-bar

        %div#page-title-collection
          // Hamburger
          %div.icon-button
            %a{:href => "#hamburger", :class => "hamburger-button"}
              \&#9776

          // Page title
          %h1
            92 Locust

        %div#main-button-collection
          // Globe
          %div.icon-button
            %a{:href => "#"}
              \&#127758

          // Person
          %div.icon-button
            %a{:href => "#"}
              \&#128100

          // Floorplan
          %div.icon-button
            %a{:href => "#"}
              \&#59175

        %div#search-gear-collection

          // Search
          %div.icon-button
            %a{:href => "#"}
              \&#128269

          // Gear
          %div.icon-button
            %a{:href => "#"}
              \&#9881

      %div#content

        %div#left-column

          %div#surveillance-collection

            %div.surveillance-medium-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/92_front_yard_axis/stream", :class => "surveillance-medium"}
              %div.surveillance-thumb-overlay
                Front Yard

            %div.surveillance-medium-thumb-title
              Front Yard

            %hr

          %div#surveillance-thumbs-collection

            -# %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/92_front_yard_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                Front Yard

            -# %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/srl_pool_entrance_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                SRL Pool Entrance

            -# %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/si2_roof_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                Shelter Island Roof

            -# %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/si2_driveway_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                Shelter Island Driveway

            -# %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/srl_parking_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                SRL Parking

            -# %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/lm_rack_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                LM Rack

            %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/si2_front_entrance_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                SI Front Entrance

            %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/boca_dock_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                Boca Dock Ent

            %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/srl_main_entrance_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                SRL Main Ent

            %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/boca_dock_ptz_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                Boca Dock

            %div.surveillance-small-thumb
              %img{:style => "-webkit-user-select: none; cursor: -webkit-zoom-in;", :src => "http://core2.jetsonsys.com:10080/data/srl_bar_axis/stream", :class => "surveillance-small"}
              %div.surveillance-small-thumb-overlay
                SRL Bar

        %div#middle-column

          %div#floorplan
            %img{:src => '/images/Floorplan.png'}

            %div.video#kitchen-video
              %div.title
                Kitchen
              %div.icon
                \&#59146

            %div.video#dining-video
              %div.title
                Dining Room
              %div.icon
                \&#59146

            %div.video#living-video
              %div.title
                Living Room
              %div.icon
                \&#59146

            %div.video#entertainment-video
              %div.title
                Entertainment Room
              %div.icon
                \&#59146

            %div.video#patio-video
              %div.title
                Patio
              %div.icon
                \&#59146

        -# %div#right-column
          Hello

      %div#hamburger

        %div.hamburger-header-item
          %div.icon
            // Arrow Right
            \&#59234;
            // House
            \&#8962;
          %h2
            US Properties (10)

        -# %div.hamburger-title
          %div.hamburger-title-icons
            // Arrow Right
            \&#59234;
            // House
            \&#8962;
          %h2
            US Properties (10)

        %div.hamburger-item
          %div.icon
            // House
            \&#8962;
          %div.text
            %div.title
              92 Locust
            %div.address
              92 Locust Avenue
              %br
              Mill Valley, CA

        %div.hamburger-item
          %div.icon
            // House
            \&#8962;
          %div.text
            %div.title
              92 Locust
            %div.address
              92 Locust Avenue
              %br
              Mill Valley, CA

    -# %aside
      Aside

  %footer
    %div#account-collection
      %ul
        %li
          %a
            Account
        %li
          %a
            Setup
        %li
          %a
            Settings
        %li
          %a
            Logout

    %div#weather-collection
      %ul
        %li.location
          London 4:16 PM
        %li
          Clear 22&deg;
        %li
          High 38&deg;F
        %li
          Low 21&deg;F
